chroma-hnswlib==0.7.3
chromadb==0.3.29
huggingface-hub==0.21.3
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchainhub
langdetect
langsmith
numpy
openai==1.13.3
opencv-python==4.9.0.80
pandas>=2.2.1
pdf2image==1.17.0
pdfminer.six==20221105
pdfplumber==0.10.4
pikepdf==8.13.0
pillow>=10.3.0
pillow_heif
pyarrow
pydantic
pypdf
pypdf2
pypdfium2
pytesseract
python-dotenv
PyYAML
rank-bm25
regex
requests
rich
safetensors
scikit-learn
sentence-transformers
SQLAlchemy
streamlit
sympy
tiktoken
tokenizers
toml
torch
torchvision
tqdm
transformers
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
watchdog
watchfiles
wikipedia
